ai2thor==2.1.0
chromadb==0.4.14
h5py==3.16.0
networkx==3.4.2
numpy==2.4.4
openai==2.32.0
opencv_python==4.13.0.92
pandas==3.0.2
Pillow==12.2.0
py4j==0.10.9.9
pycocotools==2.0.11
PyYAML==6.0.3
regex==2026.4.4
setuptools==81.0.0
tenacity==8.1.0
termcolor==3.3.0
textworld==1.7.0
torch==2.11.0
torchvision==0.26.0
tqdm==4.67.3
transformers==5.6.1
typing_extensions==4.15.0
visdom==0.2.4
